{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.cover.url }}" class="img-fluid" alt="Обложка книги">
        </div>
        <div class="col-md-8">
            <h1 class="font-weight-bold">{{ book.title }}</h1>
            <p>
                {% if book.genres %}
                    Жанры: {{ book.genres | map(attribute='name') | join(', ') }} |
                {% endif %}
                <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
            </p>
            <p class="lead">{{ book.short_desc_html | safe }}</p>
        </div>
    </div>

    <hr>

    <section class="reviews mt-5">
        <h2 class="mb-4">Отзывы</h2>

        {% if book.reviews %}
            {% for review in book.reviews %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.user.full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Оценка: {{ review.rating }}</h6>
                        <p class="card-text">{{ review.text_html | safe }}</p>
                        <p class="card-text"><small class="text-muted">Оставлено {{ review.created_at.strftime('%d.%m.%Y') }}</small></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-muted">Пока нет отзывов для этой книги.</p>
        {% endif %}

    </section>
    <section class="add-review mb-5">
        {% if current_user.is_authenticated %}
            {% if not current_user_review %}
                <div class="text-center mt-4">
                    <a href="{{ url_for('books.review', book_id=book.id) }}" class="btn btn-primary">Написать рецензию</a>
                </div>
            {% else %}
                <h2 class="mb-3 text-center text-uppercase font-weight-bold">Ваш отзыв</h2>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ current_user_review.user.full_name }} <small class="text-muted">{{ current_user_review.created_at.strftime('%Y-%m-%d %H:%M') }}</small></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Оценка: {{ current_user_review.rating }}</h6>
                        <p class="card-text">{{ current_user_review.text_html | safe }}</p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </section>
</div>
{% endblock %}